/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.primary-bg{
  background-color: #EDF7FA;
}
.container{
  
  margin:  auto;
  max-width:950px;
/*   width:100%; */
}
aside{
  width: 50%;
}
.logo{
  font-size: 40px;
  font-weight: bold;
}
.flex-header{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-content:center;
  gap:30px
  
}
.nav-items{
  display: flex;
  justify-content: space-around;
  align-content: center;
  gap: 20px;
  margin-right:50px;
  
}
.nav-items a{
  text-decoration: none;
  cursor:pointer;
  color: #000
}

.hero-section{
  margin:20px;
  display: flex;
  justify-content: space-around;
  align-content: center;
/*   gap: 0px; */
}
.hero-text h1{
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  
}
.hero-image{
  margin-left: 80px;
}
.hero-image img{
  width: 220px;
  height: 220px;
  border-radius: 110px;
  
}
.flex-about{
  
  display: flex;
  justify-content: center;
  gap:40px;
}
.about-left{

  padding:20px;
}
.about-left h3 {
  font-size:40;
  text-align:center;
  font-weight:bold;
}
.about-left p{
  text-align: left;
  font-size:18px;
  font-weight: normal;
  
}
.about-right{
  width: 80%;

}
about-right h3{
  font-size: 40px;
  text-align:center;
  font-weight:bold;
}
.progress-bar{
  width: 80%;
  padding: 17px;
}

.btn{
padding: 10px;
text-align: center;
}
.skills{
padding-top: 20px;
}
.service h2, p{
  text-align:center;
}
.service p{
  text-align: left;
  font-size:18px;
}
.portfolio{
  display:flex;
  justify-content: space-around;
  align-content: center;
}
.portfolio img{
  width: 200px;
   height:200px;
}
.portofolio-header{
  text-align:center;
  padding-top: 40px;
}
.portfolio  a{
  text-decoration: none;
  text-align: center;
  color: #292929;
}
footer{

  padding:30px;
  text-align: center;
/*   color: #fff
  background:#525151 */
}